{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Nos Produits{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('index.create') }}">Nouveau</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for produit in produits %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ produit['titre'] }}</h1>
                    <div class="about">{{ produit['annee_sortie'] }}</div>
                </div>
            </header>
            {% if produit['image'] %}
                <img src="{{url_for('static', filename='ressources/')}}{{ produit['image'] }}" style="width:200px;height:200px"/>
            {% endif %}
            <p>Quantité : {{ produit['quantite'] }}</p>
            <p class="body">{{ produit['description'] }}</p>
            <b>{{ produit['prix'] }} €   </b>
            <form action="{{ url_for('index') }}" style="margin-left:30%;margin-right:30%">
                <button>Acheter</button>
            </form>
            {% if g.user %}
                <form action="{{ url_for('index.update', idProduit = produit['idProduit']) }}" method="get" style="margin-left:30%;margin-right:30%">
                    <input class="info" type="submit" value="Modifier" style="width:100%">
                </form>
                <form action="{{ url_for('index.delete', idProduit = produit['idProduit']) }}" method="post" style="margin-left:30%;margin-right:30%">
                    <input class="danger" type="submit" value="Supprimer" onclick="return confirm('Confirmer la suppression ?');" style="width:100%">
                </form>
            {% endif %}

        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}